*.swp
.DS_Store
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
_notes
logs
comunicacion/*.swp
comunicacion/.DS_Store
comunicacion/*.DS_Store
comunicacion/*.log
comunicacion/sitemap.xml
comunicacion/sitemap.xml.gz
comunicacion/_notes
comunicacion/logs
wp-content/wpbackitup_backups/www.grupointellego.com_1487614645
wp-content/wpbackitup_backups/www.grupointellego.com_1487614645/*
.tmb
.tmb/*
